.infobox {
  position: fixed;
  display: none;
  padding: 12px;
  z-index: 999;
  background: #E7E4DC;
  border: 2px solid #595755;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Helvetica;
  line-height: normal;
  color: #343430;
  padding: 1em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  p {
    font-family: Helvetica;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: #000000;
  }

  .infobox-title {
    text-align: center;
    margin-top: 0;
  }

  .infobox-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .infobox-size-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    background: url("../../data/icon/info-extend.svg");
    background-size: 100% 100%;
  }
}

.infobox-extended {
  position: absolute !important;
  left: 25vw !important;
  top: 5vh !important;
  width: 50vw !important;
  height: 90vh !important;
  padding-left: 4% !important;
  padding-right: 4% !important;
  transition: all 0.2s ease;

  .infobox-size-toggle {
    background: url("../../data/icon/info-shrink.svg");
    background-size: 100% 100%;
  }
}
